<section class="">
  <nav class="bg-white rounded-lg shadow-sm border border-gray-200">
    <ul class="flex flex-col md:justify-between md:flex-row items-center">
      <!-- Logo -->
      <li class="flex justify-start md:justify-start items-center">
        <img routerLink="/" class="h-25 md:h-30" src="./assets/home-logo.png" />
      </li>

      <!-- Menu -->
      <li
        class="flex flex-wrap w-full md:w-auto justify-evenly h-10 items-center md:gap-8 backdrop-blur-2xl rounded-2xl md:px-10"
      >
        <div class="flex">
          <a class="text-black gap-2 flex" routerLink="/about"
            ><img src="/assets/light-mode-icons/light-about.svg" />
            <p class="hidden md:inline-block">About</p></a
          >
        </div>
        <div class="flex">
          <a class="text-black gap-2 flex" routerLink="/listing"
            ><img src="/assets/light-mode-icons/light-listing.svg" class="" />
            <p class="hidden md:inline-block">Listing</p></a
          >
        </div>
        <div class="flex">
          <a class="text-black gap-2 flex" routerLink="/feedback"
            ><img src="/assets/light-mode-icons/light-feedback.svg" />
            <p class="hidden md:inline-block">Feedback</p></a
          >
        </div>
        <div class="flex">
          <a class="text-black flex gap-2" routerLink="/donation"
            ><img src="/assets/light-mode-icons/light-donation.svg" />
            <p class="hidden md:inline-block">Donation</p></a
          >
        </div>

        <div class="flex relative z-50">
          <div class="relative">
            @if (auth.currentUser()) {
              <button
                (click)="toggleMenu(); $event.stopPropagation()"
                class="w-10 h-10 rounded-full bg-gray-700 text-white font-bold flex items-center justify-center hover:bg-black transition"
              >
                {{ auth.initials() }}
              </button>
            } @else {
              <a routerLink="/login" class="bg-black text-white px-3 py-1 rounded-2xl">Login</a>
            }

            @if (open()) {
              <div
                class="absolute right-0 mt-2 w-56 bg-gray-400 rounded-xl shadow-lg overflow-visible z-50"
                [class.hidden]="!open()"
              >
                <div class="px-4 py-3 border-b">
                  <p class="font-semibold">
                    {{ auth.fullName() }}
                  </p>
                </div>

                @if (auth.role() === 'Landlord') {
                  <a routerLink="/dashboard" class="block px-4 py-2 hover:bg-gray-100">
                    Dashboard
                  </a>
                }

                <a routerLink="/profile" class="block px-4 py-2 hover:bg-gray-100">
                  View Profile
                </a>

                <button
                  type="button"
                  (click)="handleLogout($event)"
                  [disabled]="auth.loading"
                  class="w-full text-left px-4 py-2 hover:bg-gray-200 disabled:opacity-50 disabled:cursor-not-allowed flex items-center gap-2"
                >
                  @if (auth.loading) {
                    <svg
                      class="animate-spin h-4 w-4 text-black"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                    >
                      <circle
                        class="opacity-25"
                        cx="12"
                        cy="12"
                        r="10"
                        stroke="currentColor"
                        stroke-width="4"
                      ></circle>

                      <path
                        class="opacity-75"
                        fill="currentColor"
                        d="M4 12a8 8 0 018-8v4a4 4 0 00-4 4H4z"
                      ></path>
                    </svg>

                    <span>Logging out...</span>
                  } @else {
                    <span>Logout</span>
                  }
                </button>
              </div>
            }
          </div>
        </div>
      </li>
    </ul>
  </nav>
</section>
