<div
  class="card p-3 shadow-lg rounded-2xl transition-all duration-300 ease-in-out hover:scale-98 hover:shadow-xl"
>
  <!-- Use property binding [src] to show the actual image -->
  <img [src]="properties().img" alt="Property Image" class="w-full h-auto z-0" />
  <div class="flex justify-between items-end px-2">
    <div>
      <p>{{ properties().property_name }} - {{ properties().category }}</p>

      <p class="">{{ properties().address }}</p>

      @for (star of [].constructor(properties().rating); track $index) {
        <span class="text-yellow-500 text-2xl">★</span>
      }

      @for (star of [].constructor(5 - properties().rating); track $index) {
        <span class="text-gray-300 text-2xl">★</span>
      }
      <p>{{ properties().price | currency: 'PHP' }}</p>
    </div>
    <button class="bg-black text-white px-6 py-1 rounded-2xl">Inquire</button>
  </div>
</div>
